run = "python blackjack_sim.py --num_hands 100 --starting_stake 1000 --standard_bet 25"
modules = ["python-3.11"]

[deployment]
run = ["sh", "-c", "python blackjack_sim.py --num_hands 100 --starting_stake 1000 --standard_bet 25"]

[nix]
channel = "stable-24_05"
